# -dontobfuscate
-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers
-dontpreverify
-verbose

# -optimizations !code/simplification/cast,!field/*,!class/merging/*
-optimizations code/simplification/*,!code/simplification/cast,code/removal/variable,code/allocation/variable,code/removal/simple,method/propagation/*,method/marking/final,method/inlining/*,method/marking/private,class/unboxing/enum

-allowaccessmodification

-keep class android.support.graphics.drawable.PathParser$PathDataNode
-keep class android.support.v4.app.Fragment
-keep class android.support.v4.app.SharedElementCallback
-keep class android.support.v4.app.SupportActivity$ExtraData
-keep class android.support.v4.app.TaskStackBuilder
-keep class android.support.v4.media.MediaBrowserServiceCompat$ConnectionRecord
-keep class android.support.v4.media.MediaBrowserServiceCompat$Result
-keep class android.support.v4.media.session.MediaControllerCompat
-keep class android.support.v4.media.session.MediaSessionCompat
-keep class android.support.v7.view.ActionMode
-keep class android.support.v7.view.ActionMode$Callback


-keep public class * extends android.app.Activity { *; }
-keep public class * extends android.app.Application { *; }
-keep public class * extends android.app.Service { *; }
-keep public class * extends android.content.BroadcastReceiver { *; }
-keep public class * extends android.content.ContentProvider { *; }
-keep public class * extends android.app.backup.BackupAgentHelper { *; }
-keep public class * extends android.preference.Preference { *; }
-keep public class com.android.vending.licensing.ILicensingService { *; }

-keep public class * extends android.support.v7.app.AppCompatActivity { *; }
-keep public class * extends android.support.v4.app.FragmentActivity { *; }

-keepattributes *Annotation*

-assumenosideeffects class android.util.Log { *; }
-assumenosideeffects class junit.framework.Assert { *; }

-keep class jp.yhonda.** { *; }
-keep class android.helpers.** { *; }

-keepclasseswithmembernames class * {
    native <methods>;
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}



-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}

-keepclassmembers class **.R$* {
    public static <fields>;
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}


# The support library contains references to newer platform versions.
# Don't warn about those in case this app is linking against an older
# platform version.  We know about them, and they are safe.
-dontwarn android.support.**


# Understand the @Keep support annotation.
-keep class android.support.annotation.Keep

-keep @android.support.annotation.Keep class * {*;}

-keepclasseswithmembers class * {
    @android.support.annotation.Keep <methods>;
}

-keepclasseswithmembers class * {
    @android.support.annotation.Keep <fields>;
}

-keepclasseswithmembers class * {
    @android.support.annotation.Keep <init>(...);
}
